pre.highlight table td { padding: 5px; }
pre.highlight table pre { margin: 0; }
pre.highlight .cm {
  color: #999988;
  font-style: italic;
}
pre.highlight .cp {
  color: #999999;
  font-weight: bold;
}
pre.highlight .c1 {
  color: #999988;
  font-style: italic;
}
pre.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
pre.highlight .c, pre.highlight .cd {
  color: #999988;
  font-style: italic;
}
pre.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
pre.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
pre.highlight .ge {
  color: #000000;
  font-style: italic;
}
pre.highlight .gr {
  color: #aa0000;
}
pre.highlight .gh {
  color: #999999;
}
pre.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
pre.highlight .go {
  color: #888888;
}
pre.highlight .gp {
  color: #555555;
}
pre.highlight .gs {
  font-weight: bold;
}
pre.highlight .gu {
  color: #aaaaaa;
}
pre.highlight .gt {
  color: #aa0000;
}
pre.highlight .kc {
  color: #000000;
  font-weight: bold;
}
pre.highlight .kd {
  color: #000000;
  font-weight: bold;
}
pre.highlight .kn {
  color: #000000;
  font-weight: bold;
}
pre.highlight .kp {
  color: #000000;
  font-weight: bold;
}
pre.highlight .kr {
  color: #000000;
  font-weight: bold;
}
pre.highlight .kt {
  color: #445588;
  font-weight: bold;
}
pre.highlight .k, pre.highlight .kv {
  color: #000000;
  font-weight: bold;
}
pre.highlight .mf {
  color: #009999;
}
pre.highlight .mh {
  color: #009999;
}
pre.highlight .il {
  color: #009999;
}
pre.highlight .mi {
  color: #009999;
}
pre.highlight .mo {
  color: #009999;
}
pre.highlight .m, pre.highlight .mb, pre.highlight .mx {
  color: #009999;
}
pre.highlight .sb {
  color: #d14;
}
pre.highlight .sc {
  color: #d14;
}
pre.highlight .sd {
  color: #d14;
}
pre.highlight .s2 {
  color: #d14;
}
pre.highlight .se {
  color: #d14;
}
pre.highlight .sh {
  color: #d14;
}
pre.highlight .si {
  color: #d14;
}
pre.highlight .sx {
  color: #d14;
}
pre.highlight .sr {
  color: #009926;
}
pre.highlight .s1 {
  color: #d14;
}
pre.highlight .ss {
  color: #990073;
}
pre.highlight .s {
  color: #d14;
}
pre.highlight .na {
  color: #008080;
}
pre.highlight .bp {
  color: #999999;
}
pre.highlight .nb {
  color: #0086B3;
}
pre.highlight .nc {
  color: #445588;
  font-weight: bold;
}
pre.highlight .no {
  color: #008080;
}
pre.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
pre.highlight .ni {
  color: #800080;
}
pre.highlight .ne {
  color: #990000;
  font-weight: bold;
}
pre.highlight .nf {
  color: #990000;
  font-weight: bold;
}
pre.highlight .nl {
  color: #990000;
  font-weight: bold;
}
pre.highlight .nn {
  color: #555555;
}
pre.highlight .nt {
  color: #000080;
}
pre.highlight .vc {
  color: #008080;
}
pre.highlight .vg {
  color: #008080;
}
pre.highlight .vi {
  color: #008080;
}
pre.highlight .nv {
  color: #008080;
}
pre.highlight .ow {
  color: #000000;
  font-weight: bold;
}
pre.highlight .o {
  color: #000000;
  font-weight: bold;
}
pre.highlight .w {
  color: #bbbbbb;
}
pre.highlight {
  background-color: #f8f8f8;
}
