---
layout: default
main_title: IPAX2009に出展
sub_title:
type: topic
---

<p>クリアコードは、2009年5月26日（火）、27日（水）に開催されるIPAXに出展します。</p>

<p>展示ブース（ブースNo.9）では、<a href="../software/milter-manager.html">milter manager</a>開発者によるmilter managerの解説を予定しています。場合によってはライブコーディングを行います。</p>

<p>また5月26日11:55から12:55に展示会場内プレゼンテーションコーナーで行われる出展者プレゼンテーションにて発表を行います。是非お立ち寄りください。</p>

<p>IPA2009の詳細はこちら: <a href="http://www.ipa.go.jp/event/ipax2009/">IPAX2009</a></p>
