---
layout: default
main_title: 新任取締役就任のお知らせ
sub_title:
type: topic
---

<div class="signature">
	<p class="person">株式会社クリアコード</p>
</div>

<p>2012年8月24日に開催しました第6回定時株主総会において、下記の通り新任取締役が選任され、9/1付けで就任することとなりましたのでお知らせいたします。</p>
<p>これを機に、社員一丸となって、フリーソフトウェアの発展と、ソフトウェア開発技術の向上により一層努めてまいる所存です。</p>
<p>今後とも格別のご支援を賜りますよう、よろしくお願い申し上げます。</p>

<div class="following">
	<p class="following-mark">記</p>

	<table>
		<tr>
			<th>新任取締役</th>
			<td>足永　拓郎</td>
		</tr>
	</table>
</div>


<p class="afterpiece">以上</p>
