---
layout: default
main_title: Thunderbird アドオン
sub_title:
---

<p>Thunderbirdのバグを回避するパッチや挙動の変更を行うアドオンをフリーソフトウェアとして公開しています。
クリアコードではFirefox、Thunderbirdのアドオン、Google Chromeのエクステンション開発を承っております。
見積やご相談は<a href="/contact/">お問い合わせフォーム</a>からご連絡ください。</p>

<table>
	<thead>
		<tr>
			<th>名称/ダウンロードページへのリンク</th>
			<th>説明</th>
			<th>ソースコード（リポジトリ）</th>
			<th>ライセンス</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://addons.mozilla.org/ja/thunderbird/addon/open-windows-shortcuts-dire/">Windowsショートカットの直接実行</a></td>
			<td>メッセージに添付されたショートカットファイルを直接開けるようにします。</td>
			<td><a href="https://github.com/clear-code/openshortcuts">GitHub</a></td>
			<td><a href="http://www.mozilla.org/MPL/1.1/">MPL 1.1</a>（<a href="http://www.mozilla-japan.org/MPL/MPL-1.1J.html">参考訳</a>）/
				<a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL 2.0</a> /
				<a href="http://www.gnu.org/licenses/lgpl-2.1.html">LGPL 2.1</a>のトリプルライセンス</td>
		</tr>
		<tr>
			<td><a href="https://addons.mozilla.org/ja/thunderbird/addon/patch-to-alert-invalid-addr/">不正なアドレスの警告表示パッチ</a></td>
			<td>送信しようとしているメールの送信先に一つでも不正なアドレスがあった場合に警告を表示します。</td>
			<td><a href="https://github.com/clear-code/alertinvalidaddresses">GitHub</a></td>
			<td><a href="http://www.mozilla.org/MPL/1.1/">MPL 1.1</a>（<a href="http://www.mozilla-japan.org/MPL/MPL-1.1J.html">参考訳</a>）/
				<a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL 2.0</a> /
				<a href="http://www.gnu.org/licenses/lgpl-2.1.html">LGPL 2.1</a>のトリプルライセンス</td>
		</tr>
		<tr>
			<td><a href="https://addons.mozilla.org/ja/thunderbird/addon/no-applicationapplefile/">MIME Type「application/applefile」による問題の回避</a></td>
			<td>MIME Typeとして "application/applefile" が保存されないようにします。</td>
			<td><a href="https://github.com/clear-code/noapplefile">GitHub</a></td>
			<td><a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL 2.0</a></td>
		</tr>
		<tr>
			<td><a href="https://addons.mozilla.org/ja/thunderbird/addon/dont-send-linked-files/">リンク先ファイルの送信禁止</a></td>
			<td>ファイルURLへのリンクを埋め込んだメッセージについて、リンク先ファイルを添付しないようにします。</td>
			<td><a href="https://github.com/clear-code/donotsendlinkedfile">GitHub</a></td>
			<td><a href="http://www.mozilla.org/MPL/1.1/">MPL 1.1</a>（<a href="http://www.mozilla-japan.org/MPL/MPL-1.1J.html">参考訳</a>）/
				<a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL 2.0</a> /
				<a href="http://www.gnu.org/licenses/lgpl-2.1.html">LGPL 2.1</a>のトリプルライセンス</td>
		</tr>
		<tr>
			<td><a href="https://addons.mozilla.org/ja/thunderbird/addon/nc4migrator/">NetscapeCommunicator 4.x アカウント設定移行ツール</a></td>
			<td>NC4.xのプロファイルをThunderbirdのメールアカウントに移行する機能を提供します。</td>
			<td><a href="https://github.com/clear-code/nc4migrator">GitHub</a></td>
			<td><a href="http://www.mozilla.org/MPL/2.0/">MPL 2.0</a></td>
		</tr>
		<tr>
			<td><a href="https://addons.mozilla.org/ja/thunderbird/addon/autoconfiguration-hook/">AutoConfiguration Hook</a></td>
			<td>メールアカウント作成ウィザードから任意のISP向けのメールアカウントを簡単に作成できるようにします。</td>
			<td><a href="https://github.com/clear-code/achook">GitHub</a></td>
			<td><a href="http://www.mozilla.org/MPL/2.0/">MPL 2.0</a></td>
		</tr>
	</tbody>
</table>
